.p-1 {
    padding: $sce-1;
}

.p-2 {
    padding: $sce-2;
}

.p-3 {
    padding: $sce-3;
}

.m-1 {
    margin: $sce-1;
}

.m-2 {
    margin: $sce-2;
}

.m-3 {
    margin: $sce-3;
}

.gap-1 {
    gap: $sce-1;
}

.gap-2 {
    gap: $sce-2;
}

.gap-3 {
    gap: $sce-3;
}

.border-bottom {
    border-bottom: 1px solid #222;
}

.border {
    border: 1px solid rgba(151, 151, 151, 0.555);
}

.border-radius {
    border-radius: 8px;
}
