$sce-1: 0.875rem;
$sce-2: 1.125rem;
$sce-3: 1.875rem;

$text-dark: #444;
$bg-cart: #4b6587;
$bg-product: #d4ecdd;
$bg-dark: #171717;
$bg-dark-hover: #1f1f1fec;

$xxs: 320px;
$xs: 375px;
$md: 640px;
$lg: 768px;
$xl: 1024px;
$xxl: 1280px;
