.list-products {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);

    @media (min-width: $lg) {
        grid-template-columns: repeat(3, 1fr);
    }
}
